@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding: 0 10px;
    background-color: #5372F0;
}
.warpper{
    background-color: #fff;
    max-width: 1000px;
    border-radius: 13px;
    overflow-x: hidden;
    padding: 35px;
    position: relative;
}
.warpper .icon{
    position: absolute;
    top: 0;
    height: 100%;
    width: 120px;
    display: flex;
    align-items: center;
}
.icon:first-child{
    left: 0;
    display: none;
    background: linear-gradient(90deg , #fff 70% , transparent);
}
.icon:first-child i{
    margin-left: 15px;
}
.icon:last-child i{
    margin-right: 15px;
}
.icon:last-child{
    right: 0;
    justify-content: flex-end;    
    background: linear-gradient(-90deg , #fff 70% , transparent);
}
.icon i{
    width: 55px;
    height: 55px;
    line-height: 55px;
    font-size: 1.2rem;
    cursor: pointer;
    text-align: center;
    border-radius: 50%;
    transition: all 0.5s ease;
}
.icon i:hover{
    background: #d8d5f2;
}
.warpper .tabs-box{
    display: flex;
    gap: 12px;
    list-style: none;
    overflow-x: hidden;
    scroll-behavior: smooth;
}
.tabs-box.draging{
    scroll-behavior: auto;
    cursor: grab;
}
.tabs-box.draging .tab{
    user-select: none;
    pointer-events: none;
}
.tabs-box .tab{
    cursor: pointer;
    font-size: 1.18rem;
    white-space: nowrap;
    background:#f5f4fd ;
    padding: 13px 20px;
    border: 1px solid #d8d5f2;
    border-radius: 30px;    
}
.tabs-box .tab.active{
    color: #fff;
    background: #5372F0;
    border-color: transparent;
}